<h1>Welcome to Creeport</h1>

<% if user_signed_in? %>

  <p> Logged in as <strong><%= current_user.email %></strong>.</p>
 

<% else %>

  <p>This project is a web application that allows students to anonymously report incidents of harassment or assault on campus anonymously to be reviewed by Title IX. The aim/intent of this project is to make students feel more comfortable reporting these incidents and to be informed of how to file an official report.</p>
  <p>If you require an admin account please email cr33p0rt@gmail.com with "Grant Credentials" in the subject line.</p>
  
<% end %>
