<!-- # Creeport version 4 - 5.1.2020
# Created by me 
# this file hols the email message to be sent once a new report has been filed
# License  GNU GENERAL PUBLIC LICENSE, Version 3, 29 June 2007 -->

<p>
This email is an alert that a new report was filed.
</p>

<p>
To view this report please visit the view report's page at <%= link_to 'report', @report %>
